.row.toolbar-row
  .col-xs-12
    = search_form_for @q, :class => 'form-inline' do |f|

      .form-group
        = f.search_field :meaning_or_character_cont, :class => 'form-control', :placeholder => 'meaning or character'

      .form-group
        = f.select :type_in, options_for_select(Character.types, selected: @q.type_in), {}, :class => 'form-control selectpicker', :multiple => true, :include_blank => true

      .form-group
        = f.submit 'Filter', :class => 'btn btn-default'