.character-view {
	.character-jp {
		text-align: right;
		font-size: 120px;
		img {
			height: 105px;
		}
	}
}
.character-list {
	.character-jp {
		width: 100px;
		max-width: 100px;
		img {
			height: 15px;
		}
	}
	.marker {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		display: inline-block;
		&.radical {
			background-color: $radical-color;
		}
		&.kanji {
			background-color: $kanji-color;
		}
		&.vocabulary {
			background-color: $vocabulary-color;
		}
	}
	.description {
		width: 300px;
		white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    max-width: 300px;
	}
}