#wrapper {
	padding-top: 50px;
}
.block {
	display: block;
}
.toolbar-row {
	border-bottom: 1px #e7e7e7 solid;
	padding: 15px 0px;
	margin-bottom: 15px;
}
.breadcrumb-row + .toolbar-row{
	margin-top: -15px;
}
.progress-labels {
	width: 100%;
	height: 10px;
	.progress-label-left,
	.progress-label-right {
		margin-top:-20px;
	}
	.progress-label-left {
		float: left;
	}
	.progress-label-right {
		float: right;
	}
}
.character-jp {
	font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', 'Source Han Sans Japanese', 'NotoSansCJK', 'TakaoPGothic', 'Yu Gothic', 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'Osaka', 'MS PGothic', 'ＭＳ Ｐゴシック', sans-serif;
	img {
		filter: invert(100%);
	}
}
[data-click] {
	cursor: pointer;
}
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
