%h1 Desktop
%h2
  Reviews and lessons done in last week:
  +wykres lekcji vs review`!!!!
.chart
  = line_chart @recentLogs.group_by_day(:created_at).count
  / @recentLogs.map { |goal|
  /     {name: goal.name, data: goal.feats.group_by_week(:created_at).count}
  / }
%h2
  New characters learned in last weeks:
.chart
  = line_chart @recentCharacters.group_by_day(:created_at).count